* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgba(228, 226, 226, 0.441);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

